<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="calibration_all">

  <link name="base_link"/>

  <xacro:include filename="calibration_1a.xacro"/>
  <joint name="calibration_1a_joint" type="fixed">
    <parent link="base_link"/>
    <child link="calibration_1a_base_link"/>
    <origin rpy="0 1.57079 1.57079" xyz="0.445 -0.5675 1.32"/>
  </joint>

  <xacro:include filename="calibration_1b.xacro"/>
  <joint name="calibration_1b_joint" type="fixed">
    <parent link="base_link"/>
    <child link="calibration_1b_base_link"/>
    <origin rpy="0 1.57079 1.57079" xyz="-0.148 -0.5675 1.12"/>
  </joint>

  <xacro:include filename="calibration_2a.xacro"/>
  <joint name="calibration_2a_joint" type="fixed">
    <parent link="base_link"/>
    <child link="calibration_2a_base_link"/>
    <origin rpy="0 1.57079 -1.57079" xyz="-0.445 0.5675 1.32"/>
  </joint>

  <xacro:include filename="calibration_2b.xacro"/>
  <joint name="calibration_2b_joint" type="fixed">
    <parent link="base_link"/>
    <child link="calibration_2b_base_link"/>
    <origin rpy="0 1.57079 -1.57079" xyz="0.148 0.5675 1.12"/>
  </joint>

</robot>