<?xml version="1.0" encoding="utf-8"?>
  
<robot name="calibration_1b">

  <!-- upper left corner of grid  -->
  <link name="calibration_1b_base_link">
    <visual>  
     <origin xyz ="0.105 0.1485 0" rpy ="0 0 0"/>
     <geometry>
       <box size="0.21 0.297 1e-3" />
     </geometry>
     <material name="TransparentWhite">
       <color rgba="1 1 1 0.2"/>
     </material>
   </visual>
  </link>

  <!-- aruco 907 -->
  <link name="aruco_907">
    <visual>  
     <geometry>
       <box size="0.08 0.08 0.001" />
     </geometry>
     <material name="Yellow">
       <color rgba="0.5 0.5 0.1 0.8"/>
     </material>
   </visual>
  </link>

  <!-- aruco 908   -->
  <link name="aruco_908">
    <visual>  
     <geometry>
       <box size="0.08 0.08 0.001" />
     </geometry>
     <material name="Yellow">
       <color rgba="0.5 0.5 0.1 0.8"/>
     </material>
   </visual>
  </link>

  <!-- aruco 909   -->
  <link name="aruco_909">
    <visual>  
     <geometry>
       <box size="0.08 0.08 0.001" />
     </geometry>
     <material name="Yellow">
       <color rgba="0.5 0.5 0.1 0.8"/>
     </material>
   </visual>
  </link>

  <!-- aruco 910   -->
  <link name="aruco_910">
    <visual>  
     <geometry>
       <box size="0.08 0.08 0.001" />
     </geometry>
     <material name="Yellow">
       <color rgba="0.5 0.5 0.1 0.8"/>
     </material>
   </visual>
  </link>

  <!-- aruco 911   -->
  <link name="aruco_911">
    <visual>  
     <geometry>
       <box size="0.08 0.08 0.001" />
     </geometry>
     <material name="Yellow">
       <color rgba="0.5 0.5 0.1 0.8"/>
     </material>
   </visual>
  </link>

  <!-- aruco 912   -->
  <link name="aruco_912">
    <visual>  
     <geometry>
       <box size="0.08 0.08 0.001" />
     </geometry>
     <material name="Yellow">
       <color rgba="0.5 0.5 0.1 0.8"/>
     </material>
   </visual>
  </link>

  <!-- position aruco markers -->
  <joint name="base_link-aruco_907" type="fixed">
    <origin rpy="0 0 0" xyz="0.05 0.05 0"/>
    <parent link="calibration_1b_base_link"/>
    <child link="aruco_907"/>
  </joint>

  <joint name="base_link-aruco_908" type="fixed">
    <origin rpy="0 0 0" xyz="0.15 0.05 0"/>
    <parent link="calibration_1b_base_link"/>
    <child link="aruco_908"/>
  </joint>

  <joint name="base_link-aruco_909" type="fixed">
    <origin rpy="0 0 0" xyz="0.05 0.15 0"/>
    <parent link="calibration_1b_base_link"/>
    <child link="aruco_909"/>
  </joint>

  <joint name="base_link-aruco_910" type="fixed">
    <origin rpy="0 0 0" xyz="0.15 0.15 0"/>
    <parent link="calibration_1b_base_link"/>
    <child link="aruco_910"/>
  </joint>

  <joint name="base_link-aruco_911" type="fixed">
    <origin rpy="0 0 0" xyz="0.05 0.25 0"/>
    <parent link="calibration_1b_base_link"/>
    <child link="aruco_911"/>
  </joint>

  <joint name="base_link-aruco_912" type="fixed">
    <origin rpy="0 0 0" xyz="0.15 0.25 0"/>
    <parent link="calibration_1b_base_link"/>
    <child link="aruco_912"/>
  </joint>

</robot>




