<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="calibration_1a">

  <!-- upper left corner of grid  -->
  <link name="calibration_1a_base_link">
    <visual>  
     <origin xyz ="0.21 0.1485 0" rpy ="0 0 0"/>
     <geometry>
       <box size="0.42 0.297 1e-3" />
     </geometry>
     <material name="TransparentWhite">
       <color rgba="1 1 1 0.2"/>
     </material>
   </visual>
  </link>

  <!-- aruco 901 -->
  <link name="aruco_901">
    <visual>  
     <geometry>
       <box size="0.18 0.18 0.001" />
     </geometry>
     <material name="DarkRed">
       <color rgba="0.5 0.1 0.1 0.8"/>
     </material>
   </visual>
  </link>

  <!-- aruco 902   -->
  <link name="aruco_902">
    <visual>  
     <geometry>
       <box size="0.08 0.08 0.001" />
     </geometry>
     <material name="DarkRed">
       <color rgba="0.5 0.1 0.1 0.8"/>
     </material>
   </visual>
  </link>

  <!-- aruco 903   -->
  <link name="aruco_903">
    <visual>  
     <geometry>
       <box size="0.08 0.08 0.001" />
     </geometry>
     <material name="DarkRed">
       <color rgba="0.5 0.1 0.1 0.8"/>
     </material>
   </visual>
  </link>

  <!-- aruco 904   -->
  <link name="aruco_904">
    <visual>  
     <geometry>
       <box size="0.08 0.08 0.001" />
     </geometry>
     <material name="DarkRed">
       <color rgba="0.5 0.1 0.1 0.8"/>
     </material>
   </visual>
  </link>

  <!-- aruco 905   -->
  <link name="aruco_905">
    <visual>  
     <geometry>
       <box size="0.08 0.08 0.001" />
     </geometry>
     <material name="DarkRed">
       <color rgba="0.5 0.1 0.1 0.8"/>
     </material>
   </visual>
  </link>

  <!-- aruco 906   -->
  <link name="aruco_906">
    <visual>  
     <geometry>
       <box size="0.18 0.18 0.001" />
     </geometry>
     <material name="DarkRed">
       <color rgba="0.5 0.1 0.1 0.8"/>
     </material>
   </visual>
  </link>

  <!-- position aruco markers -->
  <joint name="base_link-aruco_901" type="fixed">
    <origin rpy="0 0 0" xyz="0.1 0.1 0"/>
    <parent link="calibration_1a_base_link"/>
    <child link="aruco_901"/>
  </joint>

  <joint name="base_link-aruco_902" type="fixed">
    <origin rpy="0 0 0" xyz="0.05 0.25 0"/>
    <parent link="calibration_1a_base_link"/>
    <child link="aruco_902"/>
  </joint>

  <joint name="base_link-aruco_903" type="fixed">
    <origin rpy="0 0 0" xyz="0.15 0.25 0"/>
    <parent link="calibration_1a_base_link"/>
    <child link="aruco_903"/>
  </joint>

  <joint name="base_link-aruco_904" type="fixed">
    <origin rpy="0 0 0" xyz="0.25 0.05 0"/>
    <parent link="calibration_1a_base_link"/>
    <child link="aruco_904"/>
  </joint>

  <joint name="base_link-aruco_905" type="fixed">
    <origin rpy="0 0 0" xyz="0.35 0.05 0"/>
    <parent link="calibration_1a_base_link"/>
    <child link="aruco_905"/>
  </joint>

  <joint name="base_link-aruco_906" type="fixed">
    <origin rpy="0 0 0" xyz="0.3 0.2 0"/>
    <parent link="calibration_1a_base_link"/>
    <child link="aruco_906"/>
  </joint>

</robot>




