<launch>

    <arg name="node_name" default="bag_record_left" />
    <arg name="save_as" default="/home/noronn/catkin_ws/src/oxar_is_bored/bags/left_" />
    <arg name="topics_calib" default="tf_static,camera_l1/color/camera_info,camera_l2/color/camera_info,camera_l1/color/image_raw/compressed,camera_l2/color/image_raw/compressed" />
    <arg name="topics_record" default="tf_static,camera_l1/color/camera_info,camera_l2/color/camera_info,camera_l1/color/image_raw/compressed,camera_l2/color/image_raw/compressed,camera_l1/depth/color/points,camera_l2/depth/color/points" />

    <node name="$(arg node_name)" pkg="oxar_is_bored" type="bag_record.py" output="screen">
        <param name="save_as" value="$(arg save_as)" />
        <param name="topics_calib" value="$(arg topics_calib)" />
        <param name="topics_record" value="$(arg topics_record)" />

    </node>

</launch>