<launch>

   <!-- video source -->
   <arg name="video_device" default="0"/>
   <arg name="save_bag" default="false"/>

   <!-- launch usb cam -->
   <node name="usb_cam_$(arg video_device)" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="video_device" value="/dev/video$(arg video_device)"/>
      <param name="image_width" value="640"/>
      <param name="image_height" value="480"/>
      <param name="pixel_format" value="yuyv"/>
      <param name="camera_frame_id" value="usb_cam"/>
      <param name="io_method" value="mmap"/>
   </node>

   <!--Input value is camera topic-->
   <!-- <arg name="camera1" default="/usb_cam_$(arg video_device)/image_raw" />
   <arg name="camera_topics" default='["$(arg camera1)"]' /> -->
    
   <!--Starting camera_viewer node-->
   <!-- <node pkg="video_visualizer" type="camera_viewer.py" name="camera_viewer" output="screen">
      <rosparam param="camera_topics" subst_value="True">$(arg camera_topics)</rosparam>
   </node> -->
   
</launch>