<launch>

  <node pkg="rosserial_python" type="serial_node.py" name="arduino_node_1">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="115200"/>
  </node>

  <!--video source-->
	<!--arg name="video_device" default="6"/>
	<arg name="image_width" default="640"/>
	<arg name="image_height" default="480"/>
	<arg name="pixel_format" default="yuyv"/>
	
	<node name="usb_cam_$(arg video_device)" pkg="usb_cam" type="usb_cam_node" output="screen">
	<param name="video_device" value="/dev/video$(arg video_device)"/>
	<param name="image_width" value="$(arg image_width)"/>
	<param name="image_height" value="$(arg image_height)"/>
	<param name="camera_frame_id" value="usb_cam"/>
	<param name="io_method" value="mmap"/>
	<param name="pixel_format" value="$(arg pixel_format)"/>
	</node-->

</launch>