<launch>

    <arg name="video_device0" default="0"/>
    <arg name="video_device1" default="2"/>
    <arg name="video_device2" default="4"/>
    <arg name="video_device3" default="6"/>

    <!--Launch camera_launch with camera port 0-->
    <include file="$(find video_visualizer)/launch/camera_launch.launch">
        <param name="video_device" value="$(arg video_device0)" />
    </include>
    
    <!--Launch camera_launch with camera port 2-->
    <include file="$(find video_visualizer)/launch/camera_launch.launch">
        <param name="video_device" value="$(arg video_device1)" />
    </include>

    <!--Launch camera_launch with camera port 4-->
    <include file="$(find video_visualizer)/launch/camera_launch.launch">
        <param name="video_device" value="$(arg video_device2)" />
    </include>

    <!--Launch camera_launch with camera port 6-->
    <include file="$(find video_visualizer)/launch/camera_launch.launch">
        <param name="video_device" value="$(arg video_device3)" />
    </include>

</launch>