<launch>

  <!-- rostopic pub /arm1_calib_cmd std_msgs/Bool "data: false"-->
  <!-- rostopic pub /arm2_calib_cmd std_msgs/Bool "data: false"-->

  <!--Param for the joy node-->
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="joy_deadzone" default="0.05" />
  <arg name="joy_autorepeat_rate" default="20" />

  <!--Launch the joy node and remap to /joy_arms-->
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="$(arg joy_deadzone)" />
    <param name="autorepeat_rate" value="$(arg joy_autorepeat_rate)" />
    <remap from="joy" to="joy_arms" />
  </node>

  <!--Load params from yaml files-->
  <rosparam command="load" file ="$(find oxar_is_bored)/config/button_map_arm_xbox.yaml"/>
  <rosparam command="load" file ="$(find oxar_is_bored)/config/arm_limits.yaml"/>

  <!--Launch the teleop node with params-->
  <node pkg="oxar_is_bored" type="teleop_arm.py" name="teleop_node" output="screen">
    <rosparam param="button_mappings">$(arg button_map_arm_xbox)</rosparam>
    <rosparam param="arm_limits">$(arg arm_limits)</rosparam>
  </node>  

</launch>
